/* header */
header {
    background-color: #3366CC;
}

/* main */
.main {
    margin-top: 100px;
    margin-left: 10%;
}
.main h3 {
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 400;
}
.main img {
    width: 100%;
    height: 575px;
    object-fit: cover;
}

.top {
    display: flex;
}
/* side-menu */
.side-menu {
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 680px;
    margin-top: 100px;
    margin-left: 20px;
    background-color: #fff;
}
.sticky {
    position: fixed;
    top: 0;
    left: 70%;
    z-index: 8;
    padding: 2%;
}
.menu {
    margin-bottom: 25px;
}
.side-hr {
    width: 460px;
}
.price {
    margin-right: 50%;
}
.price p {
    font-size: 1.4rem;
}
.price h3 {
    font-size: 1.2rem;
    font-weight: 700;
}
.btn-count {
    width: 150px;
    display: flex;
    border-top: 1px solid #C4C4C4;
    border-bottom: 1px solid #C4C4C4;
    margin-left: 300px;
}
.btn-count p {
    width: 100px;
    height: 30px;
    text-align: center;
}
.btn-count iconify-icon {
    border-left: 1px solid #C4C4C4;
    border-right: 1px solid #C4C4C4;
    width: 32px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-buy {
    width: 450px;
    height: 70px;
    background-color: #3366CC;
    color: #fff;
    text-align: center;
    line-height: 70px;
    font-size: 1.6rem;
}
.total-txt {
    margin-top: 25px;
    font-size: 1.2rem;
}
.total {
    margin-top: 25px;
    text-align: right;
    margin-right: 190px;
}
.total h4 {
    font-weight: 300;
    margin-bottom: 50px;
}
.total-price {
    display: flex;
    justify-content: end;
    align-items: end;
}
.total-price h2 {
    font-size: 2rem;
}
.total-price h3 {
    margin-bottom: 2px;
}
/* Appoint */

.Appoint {
    display: flex;
    margin-bottom: 20px;
}
.Appoint h5 {
    margin: 0 10px;
    font-size: 1rem;
}
.Appoint p {
    font-size: 0.8rem;
}

.Appoint-box {
    width: 1015px;
    height: 240px;
    border: 1px solid #C4C4C4;
    display: flex;
}
.airplane {
    width: 250px;
    margin: 0 10%;
    margin-top: 6%;
}
.right {
    display: flex;
    flex-wrap: wrap;
    margin-top: 6%;
    margin-left: 15%;
}
.time-wrap1 {
    display: flex;
    flex-direction: row;
}
.time-wrap1 h5 {
    font-size: 1rem;
} 
.time-wrap1 h6 {
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 300;
}
.time-wrap2 {
    display: flex;
    flex-direction: row;
}
.time-wrap2 h5 {
    font-size: 1rem;
} 
.time-wrap2 h6 {
    margin: 0 10px;
    font-size: 1rem;
    font-weight: 300;
}
.btn {
    width: 200px;
    height: 50px;
    border: 1px solid #c4c4c4;
    line-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7%;
    margin-left: 18%;
}
.btn:last-child {
    margin-left: 10px;
}
.btn iconify-icon {
    color: #C4C4C4;
}
.btn-wrap2 {
    display: flex;
}

/* banner */
.banner {
    background-image: url(../img/banner.jpg);
    width: 80%;
    height: 200px;
    background-size: cover;
    margin-top: 30px;
}
.banner h6 {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 34px;
}
.banner-txt {
    padding-top: 53px;
    padding-left: 40px;
}

/* schedule */
.schedule {
    margin-top: 70px;
    margin-left: 10%;
    width: 1015px;
}

.schedule h3 {
    font-size: 2rem;
}
.schedule h5 {
    font-size: 1rem;
    font-weight: 400;
    margin-top: 30px;
}
.schedule h6 {
    width: 1015px;
    height: 30px;
    font-size: 1rem;
    margin-top: 70px;
    border-bottom: 1px solid #7d7d7d;
}
.schedule p {
    margin-top: 15px;
}
.schedule span {
    display: block;
    font-size: 0.8rem;
    color: #7d7d7d;
}
.table {
    display: flex;
    flex-direction: column;
}
.table-line1 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C4C4C4;
}
.table-line1 p {
    margin-bottom: 10px;
}
.table-line2 {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 14px;
}
.table-line3 {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #C4C4C4;
}
.table-line3 p {
    margin-bottom: 10px;
}
.item {
    width: 200px;
}
.notice {
    margin-top: 20px;
}
.schedule span:last-child {
    margin-bottom: 70px;
}
/* slide */
.slide-wrap {
    margin-left: 10%;
    display: flex;
}
.slide1 {
    width: 1015px;
    height: 200px;
    background-image: url(../img/slide1.png);
    background-size: cover;
}
.slide2 {
    width: 1015px;
    height: 200px;
    background-image: url(../img/slide2.jpg);
    background-size: cover;
}
.slide3 {
    width: 1015px;
    height: 200px;
    background-image: url(../img/slide3.jpg);
    background-size: cover;
}
.slide4 {
    width: 1015px;
    height: 200px;
    background-image: url(../img/slide4.png);
    background-size: cover;
}
.slide-txt {
    color: #fff;
    text-align: center;
    padding-top: 80px;
}
.btn-wrap {
    display: flex;
    margin-left: 53%;
}
.slide-btn {
    width: 12px;
    height: 12px;
    background-color: black;
    border-radius: 50%;
    margin: 0 2px;
    text-indent: -9999px;
    margin-top: 10px;
}

/* schedule-graph */
.schedule-graph {
    width: 70%;
    margin-top: 80px;
    margin-left: 30%;
}
.day {
    margin: 40px 0;
}
.day h6 {
    font-size: 1.2rem;
}
.day span {
    display: block;
    margin-bottom: 10px;
    width: 700px;
}

/* 미디어쿼리 */
@media screen and (max-width:1680px) {
    .Appoint-box {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        height: 500px;
        width: 50%;
    }
    .airplane {
        width: 80%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .airplane h3 {
        margin-right: 3%;
    }
    .time-wrap1 {
        display: flex;
        flex-direction: column;
        margin-bottom: 5%;
    }
    .time-wrap1 h5 {
        margin-top: 5%;
    }
    .time-wrap2 {
        display: flex;
        flex-direction: column;
    }
    .time-wrap2 h5 {
        margin-top: 5%;
    }
    .right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }
}